


h1{
    text-align: center;
  }

  
h3{
  position: absolute;
  left: 120px;
  top: 300px;
}

  
  
  #pagelink{
    font-size:25px;  
    text-align: center;
  }
  
  img {
    float:right;
    width: 300px;
    height: 420px;  
  }
  
  .netflix{
    overflow:auto;
    Margin:100px;
  }
  
  .red{
    float:right;
  }
  
  #netflixtext{
    font-size:25px;
    color:red;
    background-color:powderblue;
    text-align: center;
    
    border-color: blue;
    border-style: dotted;
    border-width: 5px;
    border-radius:12px;
    padding:30px;
    
    
  }
  
  .fency{
    text-decoration-line:underline;
    text-shadow: 2px 2px 4px #000000;
    color:black;
  }


  #relativeTop {
    position: relative;
    text-size:25px;
    top: 25px;}
    
  #relativeleft {
    position: relative;
    text-size:25px;
    left:60px;
  }

  #relativethird {
    position: relative;
    text-size:25px;
    left:100px;
  }
  
  .whitebox {
    background-color: white;
    border: 2px black solid;
    padding: 10px;
    width: 300px;
    height: 35px;
  }